h1 {
   text-align: center;
   background-color: Gainsboro;
   font-size: 60px;
   color: DeepPink;
   }

h4 {
   font-size: 25px;
   color: Black;
   }

p { 
   font-size:19px;
   text-align: center
  }
      
h2 {
   font-size: 27px;
   color: DarkMagenta;
   }

ul { 
   font-size: 20px; 
   font-family: Georgia
   style="Black";
   }

<img id="My First Time Holding a Fish" src="website 3.JPG" class="rotate90">


.column {
   float: left;
   width:33.33%;
   padding: 5px;
}

.row::after {
   content: "";
   clear: both;
   display: table;
}
