h1 {
   text-align: center;
   background-color: Gainsboro;
   font-size: 60px;
   color: DeepPink;
   }

h2 {
   font-size: 35px;
   color: DarkMagenta;
   }

ul { 
   font-size: 22px; 
   font-family: Georgia
   }
