h1 {
   text-align: center;
   background-color: White;
   font-size: 60px;
   color: MediumVioletRed;
   }

h4 {
   font-size: 25px;
   color: Black;
   }

h5 { 
   font-size: 35px;
   color: Black; 
   }

h6 { 
   font-size: 35px;
   color: Black;
   } 

h7 { 
   font-size; 35px; 
   color: Black;
   }



p { 
   font-size:19px;
   text-align: center
   width: 300px;
   word-wrap: break-word;
  }
      
h2 {
   font-size: 27px;
   color: DarkMagenta;
   }

ul { 
   font-size: 20px; 
   font-family: Georgia
   style="Black";
   }
   
.column {
   float: left;
   width:50%;
   padding: 5px;
}

.row::after {
   content: "";
   clear: both;
   display: table;
}
